/*COLORES*/
$colores: (
    'azul': rgb(2, 2, 245), 
    'rojo-hover': #d63059,
);


/*TAMAÑOS*/
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

$chico: 1.3rem;
$medio: 2.5rem;
$medio-rem: 2rem;
$mediano-rem: 3rem;
